@model List<Person>

@{ 
    foreach (var person in Model)
    {
    <div class="kisiListItem">
        <i> @person.Name</i> <span style="font-weight:bold">@person.Surname</span>
    </div>
    }

}


