@model DataLayer.Lecture

@{
    ViewData["Title"] = "AddLecture";
}

<h1>AddLecture</h1>

<h4>Lecture</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLecture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                <input asp-for="Credit" class="form-control" />
              
            </div>
            <div class="form-group">
                <input type="submit" onclick="return validate()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="alert-danger">@ViewData["hata"]</div>
<div class="alert-info">@ViewBag.hatalar</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<script>
    function validate() {
        var name = $('#Name').val();
        var credit = $('#Credit').val();
        console.log("Name:" + name + " Credit:" + credit);
        var valMessage = "";
        if (name == "") {
            valMessage += "Name is required!\n";
        }
        if (credit<=0) {
            valMessage += "Credi must be greater than 0!\n";
        }
        if (valMessage != "") {
            alert(valMessage);
            return false;
        }
    }
</script>
